# Node
node_modules

# Data
*.png
config.env
portfolioData.json

# Typescript
dist

# Security
credentials.json
secrets.env

# AWS
*_accessKeys.csv
*.zip

# deployment
deploy/.terraform
deploy/lambda_layer_chromium
deploy/terraform.tfstate
deploy/terraform.tfstate.backup
deployment/
.serverless/